@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cursor-blink {
  0% {
    opacity: 0.5;
  }
}

.header select {
  appearance: none;
  margin-left: -15px;
  animation: cursor-blink 2s steps(2) infinite;
}

.log-entry{
  max-width: 90vw;
}